<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd ">

      
      <context:component-scan base-package="com.my" use-default-filters="false">
            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
      </context:component-scan>

      <!-- 加载数据库配置项属性占位-->
      <context:property-placeholder location="classpath:/conf/db.properties"/>


      <!-- 配置数据源连接池 -->
      <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="${driverClassName}"></property>
            <property name="url" value="${url}"></property>
            <property name="username" value="${user}"></property>
            <property name="password" value="${password}"></property>
            <property name="initialSize" value="${initialSize}"></property>
            <property name="minIdle" value="${minIdle}"></property>
            <property name="maxActive" value="${maxActive}"></property>
            <property name="maxWait" value="${maxActive}"></property>
      </bean>

      <!-- 配置jdbc模板 -->
      <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <property name="dataSource" ref="dataSource"></property>
      </bean>

      <!-- 文件上传解析器 -->
      <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="maxUploadSize" value="10240000"></property>
            <property name="maxUploadSizePerFile" value="512000"></property>
            <property name="defaultEncoding" value="utf-8"></property>
      </bean>

      <!-- 转换器 -->
      <bean id="conversionService2" class="org.springframework.context.support.ConversionServiceFactoryBean">
            <property name="converters">
                  <list>
                        <bean class="com.my.converter.DateConverter"></bean>
                  </list>
            </property>
      </bean>

      <!-- 配置请求处理器映射器 -->
      <bean id="requestMappingHandlerAdapter"         class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
            <property name="messageConverters">
                  <list>
                        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
                  </list>
            </property>
      </bean>


      <!-- aop目标对象 -->
      <bean id="target" class="com.my.aop.Target"></bean>
      <bean id="target1" class="com.my.aop.son1.TargetSon1"></bean>

      <bean id="target2" class="com.my.aop.son1.aa.TargetSonS1"></bean>
      <bean id="target3" class="com.my.aa.TargetSonS2"></bean>

      <!-- aop切面对象 -->
      <bean id="myAspect" class="com.my.aop.MyAspect"></bean>

      <!-- spring aop配置织入-->
      <aop:config>
            <!-- 声明切面 -->
            <aop:aspect ref="myAspect">
                  <!-- 通知类型 通知方法 切点定义-->
                  <aop:around method="around" pointcut="execution(* com.my.aop..*.*(..))"/>

            </aop:aspect>
      </aop:config>


</beans>

